@import "./mobile.scss";
@import "./pc.scss";

* {
  box-sizing: border-box;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /*border:0;
	*/
  /*outline:0;
	*/
  /*font-size:100%;
	vertical-align:baseline;
	background:transparent;
	*/
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
i {
  font-weight: 100;
  font-style: normal;
}
ul,
ol,
li {
  list-style-type: none;
}
a {
  color: #666;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: none;
}

body,
html,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.login {
  height: 100%;
  width: 100%;
  position: relative;
  .particle-network-animation {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .login-content {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-content-anime {
      opacity: 0;
      background-color: white;
      display: flex;
      justify-content: space-between;
      min-height: 350px;
      & > .img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        background: url("../img/login.jpg") no-repeat center center;
        background-size: auto 100%;
        // img{
        //   width: 100%;
        // }
      }
      .el-form {
        .el-button {
          width: 100%;
        }
        h2 {
          font-size: $baseFontSizeX;
          text-align: center;
        }
      }
    }
    .login-title {
      margin-bottom: 0;
    }
    .login-help {
      display: flex;
      justify-content: space-between;
      span {
        color: $tipTextColor;
        cursor: pointer;
        font-size: 12px;
        padding: 0 5px;
      }
    }
  }
}
.joinRoom {
  // display: flex;
  // justify-content: space-between;
  // height: 100%;
  // position: relative;
  i {
    position: absolute;
  }
  // section{
  //   // flex-grow: 1;
  //   position: relative;
  //   width: 25%;
  // }
  // .create{
  //   background-color: aqua;
  //   &::after{
  //     display: inline-block;
  //     border: 100% solid black;
  //     border-right-color: red;
  //     border-bottom-width: 0;
  //     position: absolute;
  //     right: -100%;
  //     height: 100%;
  //     content:'';
  //   }
  // }
  // .join{
  //   background-color: azure;
  // }
}
.el-container {
  height: 100%;
  .content {
    height: 100%;
    // background-color: $tipTextColor;
  }
  .el-main,
  .el-footer,
  .el-header {
    padding: 0 !important;
  }
}
